@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;900&family=Oswald:wght@700&family=Outfit:wght@500&family=Poppins:wght@300;500;600;700;900&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-family: 'Poppins', sans-serif;
}

:root {
  --orange: rgb(251, 119, 75);
  --white: rgb(255, 255, 255);
  --grey: rgb(51, 51, 51);
  --black: #000000;
  --secondary-black:rgb(33, 33, 33);
  --gray:rgb(97, 99, 101);

}

.ant-modal-footer {
  display: none;
}

h2 {
  font-size: 29px;
  font-weight: 700;
}

h1 {
  font-size: 40px;
  font-weight: 900;
}

h4 {
  font-size: 18px;
  font-weight: 600;
}


.hero_container,
.collection_container {
  position: relative;
  height: 100vh;
  background-attachment: fixed;
  background-position: top center;
  background-size: cover;
}
